*{
  font-family: sans-serif, cursive,monospace;
}
body{
  background: url('../img/img_flwr.gif') right,
  url('../img/img_flwr.gif') left,url('../img/img_tree.gif') center center,
  url('../img/img_flwr.gif') center bottom,
  url('../img/img_flwr.gif') center top,
  url('../img/img_tree.gif') left bottom,url('../img/img_tree.gif') right bottom,
  url('../img/img_tree.gif') right top,url('../img/img_tree.gif') left top;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
    .wrepper{
      margin:auto;
      width: 98%;
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 10px;
      background:rgba(240,240,240,.8);
      border-radius: 20px;
    }
}



@media only screen and (min-width: 700px){
.wrepper{
  margin:auto;
  width: 100%;
  /*margin-top: 15px;
  margin-bottom: 30px;
  padding: 40px;
  background:rgba(240,240,240,.5);
  border-radius: 20px;
  border: 3px solid #dfdfdf;*/
}

.freameHeader img{
  /*border-radius: 10px 10px 0px 0px;*/
  width:100%;
}
}
a{
  color: green;
  text-decoration: none;
}
.lingkaran{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.labelapp{
  width: 100%;
  background: #b5e51d;
  padding: 10px;
  margin-top: 13px;
  text-transform: uppercase;
  text-indent:  unset;
  border: 1px dashed green;
}

.slideshow{
  width: 100%;
  background: #dfdfdf;
}
.sidebar{
  width: 98%;
  margin: auto;
  padding-top: 10px;
}
.content{
  width: 100%;
  background: rgba(240,240,240,.6);
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  margin-top: 5px;
  border: 1px dashed green;
}
.content-popular{
  width: 100%;
  height: 100px;
  background: rgba(255,255,255,0.8);
  border-radius: 5px;
  padding:10px;
  margin-top: 2px;
  border: 1px dashed green;
}
.galeri-min{
  width: 45%;
  height: 97px;
  margin: 5px;
  background: rgba(240,240,240,.6);
  float: left;
  border: 1px dashed green;
  border-radius: 5px;
}

.galeri-single{
  width: 32%;
  height: 150px;
  margin: 5px;
  background: rgba(240,240,240,.6);
  float: left;
  border: 1px dashed green;
  border-radius: 5px;
}
footer{
 2
  margin-top: 10px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */


/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}



/* 100% Image Width on Smaller Screens */
